<%- include('partials/header') -%>
<main class="min-h-full flex flex-col min-w-full">
<!-- hero -->

<div class="hero min-h-max my-20">
    <div class="hero-content flex-col lg:flex-row-reverse max-w-med">
      <img src="\imgs\about\the-flavor-bible.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div class = "">
        <div class="w-4/5" >
          <h1 class="text-6xl font-bold">A Searchable Data Base Of Flavor</h1>
          <p class="py-6 text-2xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum assumenda, perspiciatis dolorum quas accusantium eius amet ipsum delectus architecto laudantium neque animi soluta veritatis recusandae, exercitationem facilis mollitia atque reprehenderit.</p>
        </div>
        <a href="/login">
          <button class="btn btn-primary">Login</button>
        </a>
        <a href="/signup">
          <button class="btn btn-primary">Sign up</button>
        </a>
      </div>
    </div>
  </div>

 
<%- include('partials/footer') -%>