<%- include('partials/header') -%>
<main class="min-h-full flex flex-col min-w-full">
<!-- hero -->

<div class="hero min-h-max my-20">
    <div class="hero-content flex-col lg:flex-row-reverse max-w-med">
      <img src="\imgs\about\the-flavor-bible.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div class = "">
        <div class="w-4/5" >
          <h1 class="text-6xl font-bold">A Searchable Data Base Of Flavor</h1>
          <p class="py-6 text-2xl">Search your favorite flavors and get pairing inspiration! All the data here is from <a href="https://karenandandrew.com/books/the-flavor-bible/" class="underline text-blue-600">THE FLAVOR BIBLE</a> by Karen Page and Andrew Dornenburg. This Jame Beard award winning book is a must have for home cooks to professional chefs. If you find you like using this tool please purchase a copy of the book. It also includes features not found on this website including rankings of pairings by how well they match, as well as suggested pairings from some of the best chefs in the country</p>
        </div>
        <a href="/login">
          <button class="btn btn-primary">Login</button>
        </a>
        <a href="/signup">
          <button class="btn btn-primary">Sign up</button>
        </a>
      </div>
    </div>
  </div>

  <div class="hero min-h-max mt-20 bg-base-200">
    <div class="hero-content flex-col lg:flex-row max-w-med my-20">
      <img src="\imgs\about\profile-pic.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div class = "">
        <div class="w-4/5 ml-20" >
          <h1 class="text-6xl font-bold">Hi im Mark</h1>
          <p class="py-6 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum incidunt esse, assumenda, perferendis consectetur, laudantium ut ratione minima quis reprehenderit quibusdam maxime ad porro ipsam accusantium? Blanditiis porro fuga aspernatur!</p>
        </div>
      </div>
    </div>
  </div>

 
<%- include('partials/footer') -%>