<%- include('partials/header') -%>
<main class="min-h-full flex flex-col min-w-full">
<!-- hero -->

<div class="hero min-h-max my-20">
    <div class="hero-content flex-col lg:flex-row-reverse max-w-med">
      <img src="\imgs\about\the-flavor-bible.webp" alt="picture of the cover of the flavor bible" class="max-w-sm rounded-lg shadow-2xl" />
      <div class = "">
        <div class="w-4/5" >
          <h1 class="text-6xl font-bold">A Searchable Database of Flavor</h1>
          <p class="py-6 text-2xl">Search your favorite flavors, and get pairing inspiration! All the data here is from <a href="https://karenandandrew.com/books/the-flavor-bible/" class="underline text-blue-600">The Flavor Bible</a> by Karen Page and Andrew Dornenburg. This James Beard Award-winning book is a must have for home cooks and professional chefs. If you find you like using this tool, please purchase a copy of the book. It also includes features not found on this website, including rankings of pairings by how well they match, as well as suggested pairings from some of the best chefs in the country.</p>
        </div>
        <a href="/login">
          <button class="btn btn-primary">Login</button>
        </a>
        <a href="/signup">
          <button class="btn btn-primary">Sign up</button>
        </a>
      </div>
    </div>
  </div>

  <div class="hero min-h-max mt-20 bg-base-200">
    <div class="hero-content flex-col lg:flex-row max-w-med my-20">
      <img src="\imgs\about\profile-pic.webp" alt="profile pic of creator" class="max-w-sm rounded-lg shadow-2xl" />
      <div class = "">
        <div class="w-4/5 ml-20" >
          <h1 class="text-6xl font-bold">Hi, I'm Mark</h1>
          <p class="py-6 text-2xl">I am classically trained in the culinary arts. After 10+ years of cooking in restaurants and private catering, from NYC to the Bay Area, I decided to become a software engineer. My love for good food is still strong, and this is my attempt to combine my passion of cooking with my new love of coding. Please <a href="https://www.linkedin.com/in/mark-halverstadt/" target="_blank" class="underline text-blue-600">reach out</a>  to me if you are looking for a dedicated and talented engineer. <br><br> If I'm not at my computer or over the stove, you can find me in the mountains - hiking, camping, or foraging for wild foods. 
          </p>
        </div>
      </div>
    </div>
  </div>

 
<%- include('partials/footer') -%>