<%- include('partials/header') -%>
<main class="flex flex-col justify-between">
<!-- hero -->
<div class="hero min-h-max my-20">
    <div class="hero-content flex-col lg:flex-row-reverse max-w-med">
      <img src="\imgs\home\anise.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div class = "">
        <div class="w-4/5" >
          <h1 class="text-6xl font-bold">Inspiration Generator for Chefs and Cooks</h1>
          <p class="py-6 text-2xl">"What should I do with these chanterelle mushrooms from the farmers market?" "What else can I put on this cheese board with my muenster" These are questions we hope to help you answer here at the Flavor Database, a searchable pairings generator.</p>
        </div>
        <a href="/login">
          <button class="btn btn-primary">Login</button>
        </a>
        <a href="/signup">
          <button class="btn btn-primary">Sign up</button>
        </a>
      </div>
    </div>
  </div>

  <!-- more info -->
  <div class="hero min-h-max mt-20 bg-base-200">
    <div class="hero-content flex-col lg:flex-row max-w-med my-20">
      <img src="\imgs\home\berries.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div class = "">
        <div class="w-4/5 ml-20" >
          <h1 class="text-6xl font-bold">Spark Your Cooking Creativity</h1>
          <p class="py-6 text-2xl">Generate flavor pairings by searching an ingredient. The Flavor DB will give you suggestions of flavors that work well with your ingredient. Save pairings to your profile, add some notes, and share it with the community. <a href="/about" class="underline text-blue-600">Learn More</a> </p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>