<%- include('partials/header') -%>

  <body id="login-body" class="">
    <div class="hero min-h-screen min-w-full" id="login-container">
      <div class="hero-content max-w-4xl flex-col lg:flex-row-reverse bg-base-100 rounded" id="login-box">
        
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Login now</h1>
          <p class="py-6 text-2xl">Time to get cooking! If you don't have an account yet please sign up <a href="/signup" class ="font-bold underline text-blue-600	">HERE</a> and you'll be on your way.</p>
          <form action="/login" method="POST" class="w-full">
            <input type="text" id="email" name="email" class="form-control hidden" value="demo@theflavordb.com">
            <input type="password" id="password" name="password" class="form-control hidden " value="siXrTBk63nPBcy">
            <button id="demoSubmit" type="submit" class="text-center w-full underline">Click here to login to a demonstration account</button>
          </form>
        </div>

        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <div class="card-body">
            <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
              <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %> <% } %> <% if (locals.messages.info) { %> <%
              messages.info.forEach( el => { %>
              <div class="alert alert-info"><%= el.msg %></div>
              <% }) %> <% } %>

              <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label>
              <input
                type="email"
                class="form-control input-bordered rounded px-2"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control input-bordered rounded px-2"
                id="exampleInputPassword1"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
          </div>
        </div>
      </div>
    </div>



<%- include('partials/footer') -%>
