<%- include('partials/header') -%>
<section class ="container">
  <form action="/search" method="POST">
    <input type="text" name="search" placeholder="Search..">
  </form>
</section>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<pairings.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="<%=pairings[i]._id%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>
